body {
  text-align: center;
  margin: 0;
  width: 100%;
  max-width: 2000px;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;

  display: flex;
  flex-direction: column;
}

@media (min-width: 2001px) {
  body {
    margin: auto;
  }
}
